@model POS.ViewModel.ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


 
    <form asp-controller="Product" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger" />
    </div>
        <div class="form-group">
            <label asp-for="SupplierId"></label>
            <select type="text" asp-for="SupplierId" asp-items="@ViewBag.Supplier" class="form-control">
                <option>Pilih Supplier</option>
                
            </select>
            <span asp-validation-for="SupplierId" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
        <select type="text" asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option>Pilih Category</option>

        </select>
            <span asp-validation-for="CategoryId" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="UnitPrice"></label>
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="UnitStock"></label>
            <input asp-for="UnitStock" class="form-control" />
            <span asp-validation-for="UnitStock" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="UnitOrder"></label>
            <input asp-for="UnitOrder" class="form-control" />
            <span asp-validation-for="UnitOrder" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Reorder"></label>
            <input asp-for="Reorder" class="form-control" />
            <span asp-validation-for="Reorder" class="text-danger" />
        </div>
        <label>Discontinued</label>
        <div class="form-check">
            <input asp-for="Discontinued" class="form-check-input" type="checkbox"  id="yes" value="True" />
            <label asp-for="Discontinued"  for="yes"> Yes </label>
        </div>
        <div class="form-check">
            <input asp-for="Discontinued" class="form-check-input" type="checkbox"  id="no" value="False" />
            <label asp-for="Discontinued"  for="no"> No </label>
            
         </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
